[Unit]
Description=Microlab Backend
Requires=microlabcelery.service

[Service]
ExecStart=/home/pi/solderless-microlab/scripts/startFlask.sh
WorkingDirectory=/home/pi/solderless-microlab/
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
